<div class="flex flex-wrap justify-center mt-10">

    <!-- card 1 -->
    <div class="p-4 max-w-sm text-stone-800">
        <div class="flex rounded-lg h-full  bg-stone-50 p-8 flex-col">
            <div class="flex items-center mb-3">
                <div
                    class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full  bg-orange-800  flex-shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path class="fill-stone-50" fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 0 1-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 0 1-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 0 1-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584ZM12 18a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
                      </svg>
                      
                </div>
                <h2 class=" text-lg font-medium">How to use the site</h2>
            </div>
            <div class="flex flex-col justify-between flex-grow">
                <p class="leading-relaxed text-base ">
                    Browse the list of companies to view their net zero targets. Click on column headers to change the sorting order and filter. Select companies to compare.
                </p>
                <div class="max-w-xl mx-auto mb-2 p-2  text-center ">
                    <button id="shortlistBtn" (click)="shortlistCompanies()"  class="opacity-50 cursor-not-allowed mr-2 bg-emerald-400 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded">
                      Compare
                    </button>
                   
                    <button id="viewAllBtn" (click)="viewAllCompanies()"  class="opacity-50 cursor-not-allowed bg-emerald-400 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded">
                      Clear
                    </button>
                  </div>
                  
            </div>
        </div>
    </div>

    <!-- smaller cards -->
    <div class="flex flex-wrap justify-center mt-10">
    <!-- card 2 -->
    <div class="p-4 max-w-xs text-stone-800">
        <div class="flex rounded-lg h-full  bg-stone-50 p-8 flex-col">
            <div class="flex items-center mb-3">
                <div
                    class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full  bg-orange-800  flex-shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path class="fill-stone-50" fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 0 1-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 0 1-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 0 1-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584ZM12 18a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
                      </svg>
                      
                </div>
                <h2 class=" text-md font-medium">Corporations</h2>
            </div>
           
        </div>
    </div>
</div>

</div>

